{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="offset-3"></div>
            <div class="col-md-6">
                <p class="align-content-center text-black text-justify">
                    وظیفه این برنامه برنامه ریزی کارهای روزانه می باشد. توسط این نرم افزار میتوانید کارهای تجارت و زندگی
                    خود را ساماندهی و برنامه ریزی کنید و از نظر مدیریت در آنها به مشکل برنخورید. این نرم افزار میتواند
                    قرار ملاقات ها ، تماس ها ، وظایف ، لیست کارها ، تاریخ تولدها و دیگر اتفاقات را برنامه ریزی و مدیریت
                    کند.

                    نحوه کار در این نرم افزار به صورتی است که کاربر با تنظیم و قرار دادن هرکدام از رویدادها در تاریخ و
                    ساعت معین خود از نرم افزار میخواهد تا پیام های آگاهی دهنده را در زمان مشخصی ، برای مثال یک روز قبل
                    از فرارسیدن آن یا دیگر موارد آگاهی دهنده ، به اطلاع کاربر برساند. در کنار این قابلیت نرم افزار
                    توانایی های دیگری نیز دارد و می تواند به کاربر اجازه نوشتن یادداشت های روزانه و مدیریت پسوردها را
                    نیز بدهد به این ترتیب دیگر نگران فراموش کردن پسوردهایتان نباشید.


                </p>
            </div>
            <div class="col-md-3"></div>

        </div>


    </div>
{% endblock %}