{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <form method="POST" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control mr-sm-2" value="{{ item.work }} " name="work">

                            <a href="{% url 'edit_todo' todo_id=item.id %}">
                                <button type="submit" class="btn m-1 btn-jelly btn-jelly-success"> ویرایش کار</button>
                            </a>
                             <a href="{% url 'index'  %}">
                            <button type="submit" class="btn m-1 btn-jelly btn-dark "> انصراف
                            </button>
                        </a>

                        </div>
                    </div>
                </form>


            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}
