<div class="container">

    <table class="table table-bordered">
        <thead class="thead-inverse thead-dark">
        <tr>
            <th> ردیف</th>
            <th> لیست کار</th>
            <th> وضعیت تکمیل</th>
        </tr>
        </thead>
        <tbody>
        {% for work in lst_my_works %}
            <tr>
                <td>{{ work.id }}</td>
                <td>{{ work.work }}</td>
                <td>{{ work.state_complete }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

